<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH2RX__hC2UFluWYgqS6pNaUFCcZHXSDA</string>
	<key>GCM_SENDER_ID</key>
	<string>819968893566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.spring24.cs44643.sec04.DebtManagemenrt</string>
	<key>PROJECT_ID</key>
	<string>debtmanagement-656bf</string>
	<key>STORAGE_BUCKET</key>
	<string>debtmanagement-656bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:819968893566:ios:af487f8097b3735b71ee2f</string>
</dict>
</plist>
